.links-list-container {
  background-color: #0f2543;
  border-radius: 30px;
  width: 70%;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.links-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 868px) {
  .links-list-container {
    width: 90%;
  }
}
