@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
  
  .link-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background: #e0e5ec;
    box-shadow: inset 10px 10px 30px #c5ced6, inset -10px -10px 30px #f6fbff;
    animation: fade-in 0.5s ease-in-out forwards;
  }
  
  .link-item__info {
    flex: 1;
    margin-right: 20px;
  }
  
  .link-item__title {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #3b3f42;
  }
  
  .link-item__description {
    margin-bottom: 5px;
    color: #6c757d;
  }
  
  a {
    background-color: #0f2543;
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 10px 10px 30px #c5ced6, -10px -10px 30px #f6fbff;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
    background-color: #c5ced6;
    color: #fff;
  }
  