@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600;800&family=Press+Start+2P&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'JetBrains Mono', monospace;
  color: white;
  background-color: #000C24;
}

.spinner {
  border: 8px solid rgba(5, 12, 68, 0.1);
  border-top-color: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}