@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600;800&family=Press+Start+2P&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'JetBrains Mono', monospace;
  color: white;
  background-color: #000C24;
}

button:hover{
  background-color: rgb(255, 255, 255, 0.3);
}